* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
:root {
  --sky-blue1: #194064;
  --sky-blue2: #0e4e83;
}

body {
  background: linear-gradient(to bottom, var(--sky-blue2) 25%, var(--sky-blue1) 75%);
  color: #09091a;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
}

.generator,
.checker {
  width: 100%;
  max-width: 640px;
  padding: 2rem 1rem;
  background-color: #fff;
  border-radius: 1rem;
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

input:not([type="checkbox"]),
button {
  appearance: none;
  outline: none;
  border: none;
  background: none;
}

input[type="checkbox"] {
  cursor: pointer;
}

.password-wrap {
  position: relative;
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
}

.password-wrap:after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  height: 3px;
  left: 0;
  right: 0;
  border-radius: 3px;
  background: linear-gradient(to right, var(--sky-blue1) 25%, var(--sky-blue2) 75%);
}

.password-wrap input {
  flex: 1 1 0%;
  padding: 0.5rem;
  color: #282847;
}

.password-wrap input::placeholder {
  color: #888;
  font-style: italic;
}

.password-wrap button {
  cursor: pointer;
  background: linear-gradient(to bottom, var(--sky-blue1) 0%, var(--sky-blue2) 75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

label {
  display: flex;
  user-select: none;
  margin-bottom: 1rem;
}

label span {
  display: block;
  flex: 1 1 0%;
  white-space: nowrap;
}

label input[type="number"] {
  text-align: right;
}

button[type="submit"] {
  cursor: pointer;
  padding: 0.5rem 1rem;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 0.25rem;
  background: linear-gradient(to right, var(--sky-blue1) 25%, var(--sky-blue2) 50%);
  background-size: 200%;
  background-position: 25%;
  transition: 0.3s ease-out;
}

button[type="submit"]:hover {
  background-position: 75%;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head a {
  color: black;
  font-size: 0.8em;
  text-transform: uppercase;
}

.input-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.input-box input {
  border-bottom: 3px solid var(--sky-blue1) !important;
  width: 100%;
  padding: 10px;
}
